html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* .site-wrap {
  max-width: 900px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(28, 136, 185, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
} */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
}

.button {
  margin-left: 0 3%;
  width: 2rem;
  cursor: pointer;
}

.button--inactive {
  opacity: 0.2;
}

.button img {
  width: 60%;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;
}

.box {
/*     margin: -1.5rem; */
  width: 35rem;
  height: 35rem;
  box-shadow: 0px 0px 2rem 0px #888888;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s all;
}

.box:nth-child(2n) {
  transform: scale(0.85);
  z-index: -1;
}

.box:nth-child(2) {
left: 5%;
}

.box:nth-child(3) {
left: -5%;
}

.box:nth-child(2n + 1) {
  transform: scale(0.75);
  z-index: -2;
}

.box:nth-child(1) {
left: 15%;
}


.card__text-content {
  text-align: center;
  width: 75%;
}

.card__title {
  padding: 1rem;
}

.box--hide {
  display: none;
}

.move-out-from-left {
  animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
  animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position3-from-left {
  animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
  animation: moveToP2Left 0.5s ease-in-out;
}


.move-to-position1-from-left{
  animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position3-from-right{
  animation: moveToP3Right 0.5s ease-in-out;
}
.move-to-position2-from-right{
  animation: moveToP2Right 0.5s ease-in-out;
}
.move-to-position1-from-right{
  animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
  0% {
      transform: scale(0.75) translateX(0%);
      opacity: 1;
  }
  50% {
      transform: scale(0.5) translateX(-150%);
      opacity: 0.5;
  }
  100% {
      transform: scale(0.25) translateX(0%);
      opacity: 0;
  }
}

@keyframes moveOutRight {
  0% {
      transform: scale(0.75) translateX(0%);
      opacity: 1;
  }
  50% {
      transform: scale(0.5) translateX(150%);
      opacity: 0.5;
  }
  100% {
      transform: scale(0.25) translateX(0%);
      opacity: 0;
  }
}


@keyframes moveToP3Left {
  from {
      transform: scale(0.85) translateX(100%);
  }
  to {
      transform: scale(1) translateX(0);
  }
}

@keyframes moveToP2Left {
  from {
      transform: scale(1) translateX(100%);
  }
  to {
      transform: scale(0.85) translateX(0);
  }
}

@keyframes moveToP1Left {
  from {
      transform: scale(0.85) translateX(100%);
  }
  to {
      transform: scale(0.75) translateX(0);
  }
}


@keyframes moveToP1Right {
  from {
      transform: scale(0.75) translateX(-100%);
  }
  to {
      transform: scale(0.75) translateX(0);
  }
}

@keyframes moveToP2Right {
  from {
      transform: scale(0.75) translateX(-100%);
  }
  to {
      transform: scale(0.85) translateX(0);
  }
}

@keyframes moveToP3Right {
  from {
      transform: scale(0.85) translateX(-100%);
  }
  to {
      transform: scale(1) translateX(0);
  }
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 50vh;
  /* background: url('front-end/images/immigrants_make_america.jpg') bottom center no-repeat; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(124, 116, 235, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}


  nav a:hover {
    color: #fcbb58;
    cursor: pointer;
  }

  #copyright {
    font-size: 1em;
    color: burlywood;
    margin: 0;
  }

    #copyright li {
      display: block;
      margin: 1em 0 0 0;
      padding: 0;
      box-shadow: none;
      border-left: 0;
    }

      #copyright li:first-child {
        margin-top: 0;
      }