html {
    box-sizing: border-box;
    background: #eeeeee;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  body {
      margin: 0;
  }
  
  .width-80{
      max-width: 80%;
      background: #eee;
      margin: auto;
  }
  body.fixed-nav .site-wrap {
    transform: scale(1);
  }
  
  header {
    text-align: center;
    height: 50vh;
    /* background: url('front-end/images/immigrants_make_america.jpg') bottom center no-repeat; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    color: white;
    font-size: 7vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  }
  
  nav {
    background: black;
    top: 0;
    width: 100%;
    transition:all 0.5s;
    position: relative;
    z-index: 1;
  }
  
  body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(124, 116, 235, 0.1);
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
      flex-wrap: wrap;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
  }
  
  li.logo a {
    color: black;
  }
  
  .fixed-nav li.logo {
    max-width: 500px;

  }
  
  nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
  }
  
  
    nav a:hover {
      color: #fcbb58;
      cursor: pointer;
    }
  
    #copyright {
      font-size: 1em;
      color: burlywood;
      margin: 0;
    }
  
      #copyright li {
        display: block;
        margin: 1em 0 0 0;
        padding: 0;
        box-shadow: none;
        border-left: 0;
      }
  
        #copyright li:first-child {
          margin-top: 0;
        }
  
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .mySlides img.slide {
      width: 100%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
      transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 10rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.5));
    color: #f2f2f2;
    font-size: 2rem;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: auto;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media only screen and  (max-width: 800px) {
      li.logo {
          display: none;
      }
  }

  @media only screen and (max-width: 500px) {

    h1 {
        font-size: 1rem;
    }
    header {
        height: 3rem;
        padding-top: 1rem;

    }

    nav {
        height: 7rem;;
        font-size: 0.7rem;
    }

    nav ul {
        /* flex-wrap: nowrap; */
    }
     
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 34%;
        transform: translateY(-50%);
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 4rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        height: 3rem;
        width: 3rem;
    }


    .text {
        height: 19rem ;
        width: 18rem;
        font-size: 0.8rem;
    }
    .slideshow-container {
        height: 12rem;
        width: 18rem;
      }

    footer {
        margin-top: 5rem;
        display: flex;
        font-size: 0.9rem;
    }
   
  }